@{
    ViewData["Title"] = "Help";
}

<div>
    <section>
        <div class="container-internal text-center">
            <h2>Comece a usar o Arch.</h2>
            <div class="container-buttons text-center">
                <a class="button flat col-4 testando">
                    <figure></figure>
                    <h4>teste</h4>
                    <p>teste</p>
                </a>

                <a class="button flat col-4">
                    <figure></figure>
                    <h4>teste</h4>
                    <p>teste</p>
                </a>

                <a class="button flat col-4">
                    <figure></figure>
                    <h4>teste</h4>
                    <p>teste</p>
                </a>

                <a class="button flat col-4">
                    <figure></figure>
                    <h4>teste</h4>
                    <p>teste</p>
                </a>

                <a class="button flat col-4">
                    <figure></figure>
                    <h4>teste</h4>
                    <p>teste</p>
                </a>

                <a class="button flat col-4">
                    <figure></figure>
                    <h4>teste</h4>
                    <p>teste</p>
                </a>
            </div>
        </div>
    </section>
</div>

