@{
    ViewData["Title"] = "Help";
}

<div class="content">
    <section id="buttons">
        <div class="container-internal text-center">
            <h2>Comece a usar o Arch.</h2>
            <div class="container-buttons text-center">
                <a class="button flat col-4 install">
                    <figure></figure>
                    <h4>Instalação do Arch</h4>
                    <p>Um guia passo a passo simples para ajudá-lo a instalar o Arch. </p>
                </a>

                <a class="button flat col-4 requirements">
                    <figure></figure>
                    <h4>Requerimentos do Sistema</h4>
                    <p>Verifique se o seu computador pode executar o Arch.</p>
                </a>

                <a class="button flat col-4 app-install">
                    <figure></figure>
                    <h4>Instalação de Aplicativos</h4>
                    <p>Como instalar software adicional no Arch.</p>
                </a>
            </div>
        </div>
    </section>

    <section id="forum">
        <div class="forum text-center container-internal">
            <figure></figure>
            <h5 class="forum-h5">Forum</h5>
            <h2>Ajuda da comunidade.</h2>
            <p>Faça perguntas e encontre respostas para as perguntas que outras pessoas fizeram. </p>
            <p><a href="" class="link-forum">Visite o Forum do Arch</a></p>
        </div>
    </section>
</div>

