@{
    ViewData["Title"] = "Instalação";
}

<section id="initial" >
    <div class="container-internal text-center install">
        <figure></figure>
        <h1>Instalando o Arch Linux</h1>
        <p>Um guia passo a passo simples para ajudá-lo a instalar o Arch Linux como seu sistema operacional. </p>
    </div>
</section>

<section id="you-need">
    <div class="container text-center">
        <div class="mb-2">
            <h2>O que você precisa...</h2>
        </div>

        <div class="row">
            <div class="col-4">
                <div>
                    <figure>
                        <img src="~/css/img/requirements.png" id="computer-instalacao" />
                    </figure>
                    <p>Um <strong>computador</strong> capaz de rodar o Arch Linux.</p>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <figure>
                        <img src="~/css/img/usb.png" id="usb-instalacao" />
                    </figure>
                    <p>Um <strong>dispositivo USB</strong> com capacidade para o Arch Linux:</p>
                    <p>Sistema: <strong>2GB</strong></p>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <figure>
                        <img src="~/css/img/backup.png" id="backup-instalacao" />
                    </figure>
                    <p>Uma unidade de <strong>armazenamento externo</strong> ou <strong>armazenamento em nuvem.</strong></p>
                </div>
            </div>
        </div>
    </div>
</section>