@{
    ViewData["Title"] = "Pós Instalação";
}

<section>
    <div class="container-internal text-center requirements">
        <figure></figure>
        <h1>Pós Instalação do Arch Linux</h1>
        <p>Para deixa o Arch com uma aparência melhor, você pode serguir os passos abaixo.</p>
    </div>
</section>