@{
    ViewData["Title"] = "Home";
}

<section id="press" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="box text-center">
                    <img src="~/css/img/thunar-img.png" alt="Thunar">
                    <blockquote cite="https://wiki.archlinux.org/title/thunar">
                        "Thunar é um gerenciador de arquivos que integra o ambiente gráfico Xfce. É um programa caracterizado pela simplicidade e pela leveza na operação"
                    </blockquote>
                </div>
            </div>

            <div class="col-3">
                <div class="box text-center">
                    <img src="https://assets.zorincdn.com/images/home/cnet.png" alt="CNET">
                    <blockquote cite="https://www.cnet.com/uk/news/zorin-os-6-the-ultimate-linux-distro-for-windows-users/">&ldquo;Zorin OS is without question one of the best Linux distros currently available&rdquo;</blockquote>
                </div>
            </div>

            <div class="col-3">
                <div class="box text-center">
                    <img src="https://assets.zorincdn.com/images/home/techradar.png" alt="TechRadar">
                    <blockquote cite="https://www.techradar.com/news/software/operating-systems/which-is-the-best-distro-for-beginners--1213490">&ldquo;It has everything in terms of offering a friendly and usable experience to those coming from… Windows or macOS&rdquo;</blockquote>
                </div>
            </div>

            <div class="col-3">
                <div class="box text-center">
                    <img src="https://assets.zorincdn.com/images/home/pcworld.png" alt="PCWorld">
                    <blockquote cite="https://www.pcworld.com/article/214928/5_reasons_to_try_zorin_os_linux.html">&ldquo;When speed is of the essence, Zorin OS really shines&rdquo;</blockquote>
                </div>
            </div>
        </div>
    </div>
</section>

<hr />

<section>
    <div class="container space-hr">

    </div>
</section>